<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <script type="text/javascript" src="/scripts/contactScript.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <title>Contact List Application</title>
    </head>
    <body>
        <div id="container">
            <div>
                <div id="header">
                    <h1>Contact List Application</h1>
                    <h2>An application by Preethi Kesavan</h2>
                </div>
                <div id="menu">
                    <ul>
                        <li class="menuitem"><a href="/Home">Home</a></li>
                        <li class="menuitem"><a href="/showContact">Display Contacts</a></li>
                        <li class="menuitem"><a href="/addContact">Add Contact</a></li>
                        <li class="menuitem"><a href="/searchContact">Search Contact</a></li>
                    </ul>
                </div>
            </div>

        		<div id="content">
                    <div id="content_main">
                	   <h2>This application is used to view, store and edit your contact details.</h2>
                    </div>
                </div>
        </div>
    </body>
</html>
